[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SDLfilter"]
	path = SDLfilter
	url = https://github.com/takahiroshimada/sdlfilter
